<form (ngSubmit)="onSubmit()" #mainForm="ngForm"
      [ngClass]="{ 'form-submitted':errorSubmitted}">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" [(ngModel)]="Model.Name"
           required minlength="5" maxlength="20"
           id="name" name="name" #name="ngModel" >
    <div *ngIf="name.invalid && (name.dirty || name.touched || errorSubmitted)"
         class="alert alert-danger">
      
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name must have between 5 and 20 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" [(ngModel)]="Model.Quantity"
           required min="1" max="10"
           step="1"
           id="quantity" name="quantity" #quantity="ngModel" >
  </div>
  <div class="form-group">
    <label for="name">Size</label>
    <select class="form-control" [(ngModel)]="Model.Size"
            required 
            id="size" name="size" #size="ngModel" >
      <option  value="">none selected</option>
      <option *ngFor="let size of allSizes" [value]="size">
      {{size|capitalize}}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
